# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Compiled files
*.class
*.dll
*.exe
*.o
*.so

# Log files
*.log
*.swp

# IDE files
.vscode/
.idea/

# Data files
*.csv
# *.json
*.pkl
*.xlsx
*.html
*.Python
*.pth 
*.pt 
